.input {
    width: 40rem;
    background: var(--gray-500);
    color: var(--gray-100);
    padding: 1rem;
    border: none;
    border-radius: 8px;
}

.checkbox {
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 2px solid var(--blue);
    border-radius: 100%;
}

.checkbox:hover {
    outline: 1px solid var(--blue-dark);
    background: var(--blue-dark);
    opacity: 0.2;
}

.checkbox:checked {
    background: var(--blue);
}