.emptyList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--gray-300);
    padding: 4rem 1.5rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.emptyList div {
    text-align: center;
}